@import 'config';

//Reset for all
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

//General Styling
body {
  height: 100vh;
  background-color: $dark-blue;

  h1, h2 {
    font-family: $primary-font;
    color: $light-blue;
    letter-spacing: 3px;
  }

  h1 {
    font-size: 7rem;
  }

  p, .btn {
    font-family: $secondary-font;
    color: #fff;
    letter-spacing: 2px;
  }
}

.full-container {
  position: relative; 
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  #rollBtn {
    width: 21%;
  }

  .players {
    position: relative;
    width: 90%;
    display: flex;
    justify-content: space-evenly;
    height: 60%;

    .celebrate {
      width: 20%;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      text-align: center;

      h2 {
        bottom: 28%;
        position: absolute;
        color: $yellow;
        z-index: 2;
        font-size: 4rem;
        -webkit-text-stroke: 0.1px #fff;
        visibility: hidden;
      }

      lord-icon {
        display: block;
        height: 100%;
        width: 100%;
        z-index: 1;
        visibility: hidden;
      }
    }

    .player-container {
      position: relative;
      width: 30%;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;

      .die {
        position: relative;
        display: flex;
        width: 66%;
        aspect-ratio: 1/1;
        background-color: #fff;
        border-radius: 42px;
      }

      .dot {
        display: block;
        border-radius: 50%;
        width: 42px;
        height: 42px;
        background-color: $light-blue;
      }
      
      .rombus {
        display: block;
        width: 42px;
        height: 42px;
        background-color: $light-purple;
        transform: rotate(45deg);
      }

      #dice-1, #dice-2, #dice-3, #dice-4, #dice-5, #dice-6 {
        width: 100%;
        position: relative;
        display: flex;
        padding: 42px;
      }
      
      .dice-left, .dice-right {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
      
      .dice-center {
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
      
      #dice-1 {
        display: flex;
        justify-content: center;
        align-items: center;
      }
      
      #dice-2 {
        position: absolute;
        justify-content: space-between;
        visibility: hidden;
      }
      
      #dice-2 .dice-left {
        align-self: flex-end;
      }
      
      #dice-3 {
        position: absolute;
        justify-content: space-between;
        visibility: hidden;
      }
      
      #dice-3 .dice-right {
        align-self: flex-end;
      }
      
      #dice-4 {
        position: absolute;
        justify-content: space-between;
        visibility: hidden;
      }
      
      #dice-5 {
        position: absolute;
        justify-content: space-between;
        visibility: hidden;
      }
      
      #dice-6 {
        position: absolute;
        justify-content: space-between;
        visibility: hidden;
      }

    }
  }

  footer {
    margin-bottom: 21px;
    
    p {
      color: $light-blue;
      font-size: 21px;
    }

    span {
      font-family: 'Lobster', cursive;
      color: $light-purple;
    }

    a {
      color: #fff;
    }

  }
}