@import 'config';

//Reset for all
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

//General Styling
body {
  background-color: $dark-blue;

  h1, h2 {
    font-family: $primary-font;
    color: $light-blue;
    letter-spacing: 3px;
  }

  h1 {
    font-size: 7rem;
  }

  p, h3, .btn {
    font-family: $secondary-font;
    color: #fff;
    letter-spacing: 2px;
  }
}

// Everything, even Footer is in Full-container
.full-container {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  // Main button to roll dice
  #rollBtn {
    width: 21%;
  }

  // Grid container with 2 grid areas, each a flex-container
  .players {
    position: relative;
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 60%;

    // Left and Right sides will hold 2 main divs
    &-left {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
    }

    &-right {
      width: 100%;
      display: flex;
      justify-content: space-evenly;

    }

    // Button to change stying
    .btn {
      width: 80%;
    }

    // Div which holds icon and winner/draw text
    .celebrate {
      position: relative;
      width: 42%;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      text-align: center;

      h2 {
        bottom: 28%;
        position: absolute;
        color: $yellow;
        z-index: 2;
        font-size: 4rem;
        -webkit-text-stroke: 0.1px #fff;
      }

      // Must have link in head of HTML
      lord-icon {
        display: block;
        height: 100%;
        width: 100%;
        z-index: 1;
      }

      // Scripts work with id of the lordicon icons, visibility hidden when page loads
      #flag-1, #flag-2 {
        visibility: hidden;
      }
    }

    // Class for the player divs with stats, button to change style and dice
    .player-container {
      width: 42%;
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;

      .player-info {
        
        h2 {
          margin-bottom: 0.7rem;
        }
      }

      // Player 1 dice is done with Flex
      .die-flex {
        position: relative;
        display: flex;
        width: 77%;
        aspect-ratio: 1/1;
        background-color: #fff;
        border-radius: 21px;

        .dot {
          display: block;
          border-radius: 50%;
          width: 40px;
          height: 40px;
          background-color: $light-blue;
        }
        
        .rombus {
          display: block;
          width: 42px;
          height: 42px;
          background-color: $light-purple;
          transform: rotate(45deg);
        }

        // Six divs, one for each dice
        #dice-1, #dice-2, #dice-3, #dice-4, #dice-5, #dice-6 {
          width: 100%;
          position: relative;
          display: flex;
          padding: 1.3rem 1.3rem;
        }
        
        // Areas of Flex-dice: Left-Center-Right
        .dice-left, .dice-right {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
        }
        
        .dice-center {
          display: flex;
          flex-direction: column;
          justify-content: center;
        }
        
        // Dice-1 starts not hidden and seen when page loads
        #dice-1 {
          display: flex;
          justify-content: center;
          align-items: center;
        }
        

        #dice-2 {
          position: absolute;
          justify-content: space-between;
          visibility: hidden;

          .dice-left {
            align-self: flex-end;
          }
        }
        
        #dice-3 {
          position: absolute;
          justify-content: space-between;
          visibility: hidden;

          .dice-right {
            align-self: flex-end;
          }
        }
        
        #dice-4 {
          position: absolute;
          justify-content: space-between;
          visibility: hidden;
        }
        
        #dice-5 {
          position: absolute;
          justify-content: space-between;
          visibility: hidden;
        }
        
        #dice-6 {
          position: absolute;
          justify-content: space-between;
          visibility: hidden;
        }
      }

      // Player 2 dice is done with Grid
      .die-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr) !important;
        grid-gap: 2%;
        width: 77%;
        aspect-ratio: 1/1;
        background-color: #fff;
        border-radius: 21px;
        padding: 0.7rem ;

        // Only one div and hide/show pips with script. All pips start hidden except the 5th, to show a 1 when page loads
        > div {
          visibility: hidden;
        }

        > :nth-child(5) {
          visibility: visible;
        }

        // Div that holds pips to be able to center and add % widths for responsiveness
        .pip {
          display: flex;
          justify-content: center;
          align-items: center;

          .dot {
            display: flex;
            width: 63%;
            height: 63%;
            background-color: $light-blue;
            border-radius: 50%;
          }

          .rombus {
            display: flex;
            width: 63%;
            height: 63%;
            background-color: $light-purple;
            transform: rotate(45deg);
          }
        }
      }
    }
  }
}

footer {
  position: relative;
  display: flex;
  padding: 0 2rem;
  background-color: $light-blue;

  .dice-info, .icons-info, .font-info {
    padding: 1rem;
  }
  
  p {
    color: $dark-blue;
    font-size: 21px;
  }

  span {
    font-family: 'Lobster', cursive;
    color: $light-purple;
  }

  a {
    color: #fff;
  }
}

// Import Mobile Sheet at bottom so everything cascades as intended
@import 'mobile';
